<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Брони</title>
</head>
<body>
  <table border="1px">
    <caption>
      Брони
    </caption>
    <tr>
      <th>id</th>
      <th>fio</th>
      <th>mobile_number</th>
      <th>booking_status</th>
      <th>booking_comment</th>
      <th>date_reg</th>
      <th>date_booking</th>
    </tr>
    {% for booking in list_of_booking %}
    <tr>
      <td>{{ booking.id }}</td>
      <td>{{ booking.fio }}</td>
      <td>{{ booking.mobile_number }}</td>
      <td>{{ booking.booking_status }}</td>
      <td>{{ booking.booking_comment }}</td>
      <td>{{ booking.date_reg }}</td>
      <td>{{ booking.date_booking }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>